
<p>Меня зовут Рысбаев кожоназар, мне 18 лет. Я жстудент 3 курса в Ошском Технологичеком Колледже. Н данный момент учусь программировать на языке Ruby.</p>
<%= render partial: 'elements/user_info', locals: {name: 'Kojosh', address: '22223 fun street', phone: '2321113232'} %>
<%= render partial: 'elements/boxes' %>

<span class="label label-default">fdjfkdljdkfjkldsjkldfjkl</span>

